.todo-container {
    width: 600px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
.todo-title {
    color: red;
    font-size: 30px;
    font-weight: 600;
}

.todo-input,
.todo-button {
    padding: 5px;
    margin: 5px;
}

.todo-data {
    margin-top: 40px;
    padding: 15px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}
.todo-item {
    display: flex;
    justify-content: space-between;
}
